.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  background: rgba(255,255,255,0.7);
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(6px);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #222;
  font-weight: 600;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}
